.InputContainer{
    display: flex;
    justify-content: center;
    height: 54px;
    gap: 10px;
    margin-top: -27px;
    input{
        background-color: #262626;
        border: none;
        height: 100%;
        border-radius: 8px;
        width: 735px;
        font-size: 16px;
        padding-left: 20px;
        color: white;
    }
    button{
        background-color: #1E6F9F;
        width: 90px;
        border: none;
        border-radius: 8px;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        color: white;
    }

}

.tasklist01{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
    margin-bottom: 20px;
    .taskcontainer01{
        max-width: 835px;
        width: 100%;

        .headerlist01{
            display: flex;
            justify-content: space-between;
            p{
                font-size: 14px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 17px;
                color: #4EA8DE;
            }

            span{
                background-color: #333333;
                padding: 2px 8px;
                border-radius: 5px;
            }
        }
    }
}